.avatarImageModal {
  position: fixed;
  top: -20px;
  left: 30px;
  background-color: var(--clr-lighten-2);
  max-width: 17rem;
  padding: 0.25rem;
  border-radius: 1rem;
}
.avatarImageModal > h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 0;
  color: var(--clr-black-1);
  font-weight: 800;
}

.avatarImageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.75rem 0;
}

.avatarImage {
  height: 80px;
  width: 80px;
  padding: 0.5rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid var(--clr-black-2);
  transition-property: opacity;
  transition-delay: 150ms;
  transition-duration: 200ms;
}

.avatarImage:hover {
  opacity: 0.8;
}
